*{
    background-color: #ecf0ff;
    margin: 1%;
    padding:0.5%;
}
#welcome{
    text-align: center;
}
#personal_details{
    width:25%;
    margin:0px auto;
}
.question
{
    font-size: 1.2em;
}
.category{
    font-size:1.2em;
}
.answer{
    border:2px solid black;
    border-radius: 5px;
    width: 60%;
}
#player_name{
    font-size: 1.3em;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 30%;
    margin:0px auto;
}
#result{
    width:50%;
    margin:0px auto;
    font-size: 1.3em;
    text-align: center;
}
.question_no{
    background-color: rgb(140, 133, 240);
    box-shadow: 5px 5px 4px #888888;
}
#start_quiz:hover,.new_game:hover,#button:hover{
    cursor: pointer;
    font-weight: bold;
    box-shadow: 5px 5px 4px #888888;
}
#start_quiz:active,.new_game:active,#button:active {
    box-shadow: 0 5px #666;
    transform: translateY(2px);
  }