*{
    background-color: #ecf0ff;
    margin: 1%;
    padding:1%;
}
#welcome{
    text-align: center;
}
#personal_details{
    width:25%;
    margin:0px auto;
}
.trial{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(124, 145, 184);
}
